<script>
    import { scaleLinear, scaleTime } from "d3-scale";
    import { area } from "d3-shape";
    import { extent } from "d3-array";
    
    export let data = [];
    const leavesX = scaleTime().domain(extent(data.map(d => new Date(2014,12,d.day,d.hour)))).range([0,data.length]);
    const leavesY_electricity = scaleLinear().domain(extent(data.map(d => d.total_electrity))).range([10,30]);
    const leavesY_gas = scaleLinear().domain(extent(data.map(d => d.total_gas))).range([10,30]);
    const electricity_area = area().x(d => leavesX(new Date(2014,12,d.day,d.hour))).y0(0).y1(d => - leavesY_electricity(d.total_electrity));
    const gas_area = area().x(d => leavesX(new Date(2014,12,d.day,d.hour))).y0(0).y1(d => leavesY_gas(d.total_gas));

</script>

    <line x1=0 x2={data.length} y1=0 y2=0 stroke="black" stroke-width=2/>
    <path stroke="blue" fill="blue" d={electricity_area(data)} class="area" stroke-width=3 style="opacity: 0.8;"/>
    <path stroke="yellow" fill="yellow" d={gas_area(data)} class="area" stroke-width=3 style="opacity: 0.8;"/>
