<script>
    import { scaleLinear } from 'd3-scale'
    import { area } from 'd3-shape'
    import { extent } from 'd3-array'
    
    const width = 600;
    const height = 450;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    export let data = [];
    export let index = null;
   
    const linesX = scaleLinear().domain([0, data.length - 1]).range([180, innerWidth]);
    const linesY = scaleLinear().domain(extent(data.map(d => d.total_heating_energy))).range([1, 15]);
    let lines_area;
    function within_building_area(_){
        lines_area = area(_)
        .x(function(_,i){return linesX(i)})
        .y0(function(d){return 25 * (index + 1) - linesY(d.total_heating_energy) / 2})
        .y1(function(d){return 25 * (index + 1) + linesY(d.total_heating_energy) / 2})
    }
    $: within_building_area(data);
</script>

<path stroke="black" fill="grey" d="{lines_area(data)}" class="area"/>


