<script>
  
  import Myline from "./_design_1_lines.svelte";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  const width = 600;
  const height = 450;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  let data = null;
  let selected_data = null;
  onMount(async () => {
     data = await json("/data/hourly_heating_december.json");
    selectdata()
  });
  function selectdata(_) {
    if(!data)
      return;
    selected_data = data.filter(d => d.city == selected_location)
  }
  
  let types_of_building = ["FullServiceRestaurant","Hospital","LargeHotel","LargeOffice","MediumOffice",
  "MidriseApartment","OutPatient","PrimarySchool","QuickServiceRestaurant","SecondarySchool",
  "SmallHotel","SmallOffice","Stand-aloneRetail","StripMall","SuperMarket","Warehouse"];
  let locations = ['Baltimore', 'Chicago', 'Los Angeles']
  let selected_location = locations[0];
  let data_building_type = [];

  
  function selectbuildingtypedata(_) {
    if(!data)
      return;
      data_building_type = types_of_building.map(type => {return selected_data.filter(d => d.buildingtype == type)})
  }

  $: selectdata(selected_location);
  $: selectbuildingtypedata(selected_data)
</script>

<div>
  {#if !data}
  <p>Loading the data</p>
  {:else}
  <div class="row">
    <div class="col-4">
      <select id="continent-select" class="form-select" bind:value={selected_location}>
        {#each locations as h}
          <option value={h}>{h}</option>
        {/each}
      </select>
    </div>
  </div>
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
        {#each data_building_type as data, i}
          <text transform="translate(0, {25 *(i + 1)+5})">{types_of_building[i]}</text>
          <Myline data={data} index={i}></Myline>
        {/each}
      <text x={innerWidth/4} y={innerHeight-5}>Design1: Energy use over multiple days</text>
    </g>
  </svg>

  {/if}
</div>
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
