<script>

  import Myleaf from "./_design_3_leaves.svelte";
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
 
  const width = 600;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = null;
  const weeks = [48,49,50,51,52];
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });
  
  function data_of_week(selected_week) {
    return data.filter(d => d.week == selected_week);
  }
</script>

{#if !data}
<p>Loading the data</p>
{:else}
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <line x1={innerWidth/2} y1=80 x2={innerWidth/2} y2=550 stroke="black" stroke-width=2></line>
    {#each weeks as selected_week,i }
    {#if i%2 == 0}
    <g transform="translate({innerWidth/2 },{500-i*75}) rotate(-3)">
      <Myleaf data={data_of_week(selected_week)}></Myleaf>
    </g> 
    <text x="{innerWidth-90}" y="{490-i*75}" >week{selected_week}</text>
    {:else} 
    <g transform="translate({innerWidth/2 },{500-i*75}) scale(-1,1) rotate(-12)">
      <Myleaf data={data_of_week(selected_week)}></Myleaf>
    </g> 
    <text x=20 y={470-i*75} >week{selected_week}</text>
    {/if}
    {/each}

    <text x={innerWidth / 3} y=30>Chicago: December 2014</text>
    <text x={innerWidth / 5} y={innerHeight - 5}>Design3: Gas and electricity use as a tree</text>
  </g>
</svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
