<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option1" checked> Messi
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2"> Ronaldo
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3"> Neymar
  </label>
</div>
