<script>
    const mylist = {name:'Chaojie',g1:'Chinese food',g2:'zero cola',g3:'smile',g4:'blue sky'}
</script>
<p>My name is {mylist.name} and these are some of my favourite things:{mylist.g1},{mylist.g2},{mylist.g3},{mylist.g4}.</p>
