<script>
    import ex_2 from './ex_2.svelte';
    import ex_3 from './ex_3.svelte';
</script>
   
    <div>
        <p><em><mark>Marks</mark></em> are <del>basic</del> <b>geometric elements</b> that depict items and links.</p>
        <p> The best visual channels ordered by Mackinlay's ranking: </p>
        <ol>
            <li>Position</li>
            <li>Length</li>
            <li>Angle</li>
        </ol>
     <!-- svelte-ignore component-name-lowercase -->
     <ex_3 />
     <!-- svelte-ignore component-name-lowercase -->
     <ex_2 />
    </div>
