<script>
  // Properties
  export const data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  const interval_Id = setInterval(animationManipulator, 1000);
  function stopAnimation(){clearInterval(interval_Id);}

  function animationManipulator(){}
  function resetClick(){}
  function playPause(){}

</script>

<div class="row">
 
<button on:click={playPause} type="button" class="btn btn-outline-primary">
  Play-Pause</button>
<button on:click={resetClick} type="button" class="btn btn-outline-success">
	Reset
</button>
</div>
