<script>
	let count = 0;
	function handleClick() {
		count += 1;
	}
	function resetClick() {
		count =0;
	}
</script>

<button on:click={handleClick} type="button" class="btn btn-primary">
	count: {count}
</button><br/>

<button on:click={resetClick} type="button" class="btn btn-outline-success">
	reset
</button>