<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";
  let opacity = 0.3;
  let currentCircleindex = index - 1;
  const interval_Id = setInterval(circleManipulator, 1000);
  
  function stopInterval() {clearInterval(interval_Id);}
  
  function circleManipulator() {
    if (currentCircleindex == -1) {stopInterval();}
    currentCircleindex--;}
    $: color = currentCircleindex == -2 ? "darkgreen" : color; 
 
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as dp, i}
    <circle cx={dp} cy={innerHeight / 2} r="10" fill={color} opacity={i > currentCircleindex ? 1 : opacity} />
    {/each}
  </g>
</svg>