<script>
  import {scaleLog} from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  import { each } from 'svelte/internal';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  // Array
  const values = [2, 4, 6, 7, 9];
  const logscale=scaleLog().domain([1,10]).range([0,800]);
  const axis = axisBottom(logscale).ticks(10);
  
  const selection = function(){
  return axis(select('g.axis'))
  };
  
  </script>
  
  <svg {width} {height} viewBox='0 0 800 100'>
  <g transform="translate({margin.left},{margin.top})" >
  {#each values as value}
  <circle cx={logscale(value)} cy=40 r=10 fill='yellow'/>
  {/each}
  </g>
  <g class='axis' transform='translate({margin.left},{innerHeight})' use:selection>
  </g>
  <text transform='translate({innerWidth/2},{100})'>
  x label
  </text>
  </svg>