<script>
  import { select } from 'd3-selection';
  import { scaleOrdinal, scaleLinear } from 'd3-scale';
  import { axisBottom, axisLeft } from 'd3-axis';
 
  // Dimensions
 const width = 600;
 const height = 300;
 const margin = { top: 10, right: 10, bottom: 30, left: 60 };
 const innerWidth = width - margin.left - margin.right;
 const innerHeight = height - margin.top - margin.bottom;

 // Array
 const data = [
   { service: "Netflix", viewers: 2.9 },
   { service: "Amazon Prime Video", viewers: 1.3 },
   { service: "Disney+", viewers: 2.1 },
   { service: "Hulu", viewers: 0.9 },
   { service: "Apple TV", viewers: 1.1 },
   { service: "Rakuten", viewers: 0.4 }
 ];
 
 const gap = 17
 const rect_width = (innerWidth - (data.length - 1) * gap) / data.length
 
 let keys = data.map(v => v.service)
 keys.unshift(null)
 keys.push(null)
 
 const x_length = []
 for (let step = 0; step < 8; step++) {
    x_length.push(innerWidth / 8 * step)
   }
  
   // set the axes scale
 const x = scaleOrdinal().domain(keys).range(x_length);
 const y = scaleLinear().domain([0, 4]).range([0, innerHeight]);
 
 const func = (node) => {
   const g = select(node)
   g.append("g")
   .attr("transform", "translate(0, " + innerHeight + ")")
   .call(axisBottom(x));

   g.append("g")
   .call(axisLeft(y));

   g.append("text")
   .attr("y", 0 - (margin.left / 2))
   .attr("x", 0 - (innerHeight / 2))
   .style("text-anchor", "middle")
   .style("transform", "rotate(-90deg)")
   .style("fill", "currentcolor")
   .style("font-size", "10px")
   .text("Viewers (Million)");
   }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
 <g transform={`translate(${margin.left},${margin.top})`}use:func>
   {#each data as d}
   <rect x={x(d.service)-(rect_width-gap)/2} y={innerHeight-y(d.viewers)} width={rect_width-gap} height={y(d.viewers)} fill="yellow"></rect>
   {/each}
</g>
</svg>
